.nav{
    position: fixed;
    top: 0;
    background-color: rgb(91, 137, 222);
    width: 100%;
}

.nav nav{
    margin: 0 auto;
    width: fit-content;
}

.nav nav ul{
    width: fit-content;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    gap: 10px;
    margin: 0;
    height: 50px;
}

.nav nav ul li{
    font-weight: bold;
    transition: 0.2s ease-in;
    background-color: rgb(48, 124, 237);
    border-radius: 5px;
    padding: 5px;
    border: 1px solid white;
    transition: 0.3s ease-out;
}

.nav nav ul li a{
    text-decoration: none;
    color: white;
}


.nav nav ul li:hover{
    font-size: large;
    cursor: pointer;
    text-decoration: underline;
    color: white;
}
